body{
    background-color: #F8EDDD;
}

/*header*/

.header-bar{
    background-color: #81080F;
}

.header-buttons h{
    color: white;
}

.bag-item-count{
    background-color: #007219;
    color: white;
}

/*banner*/

.banner{
    background-color: #FFFCF8;
}

.column-left h1{
    color: #08512E;
}

.shop-now-button{
    color: white;
    border:#81080F;
    background:#81080F;
}

.banner2-container{
    background-color: #FFFCF8;
}

.column-right2 h1{
    color: #81080F;
}

.find-out-more-button{
    color: white;
    background:black;
}

/*products bottom home pg*/
.product-container{
    background-color: white;
}

.product-container:visited{
    color: black;
}

.filter-sort-buttons{
    color: black;
    background-color: white;
}

/*products*/
.hyperlink{
    color: #81080F;
}

.hyperlink-button:visited{
    color:#81080F;
}

.page-nums{
    color: #81080F;
}

/*individual product page*/
.indv-product-container{
    color: black;
    background-color: white;
}

.add-to-bag-button{
    background-color: #007219;
    color: white;
}

.label{
    color: black;
    background-color: white;
}

.collapsible-content{
    background-color: rgba(255,255,255,0);
}

.bag-pop-up{
    background-color: white;
}

.bag-remove-button{
    background-color: transparent;
}

.bag-continue-shopping-button{
    background-color: white;
    color: #007219;
}

.bag-checkout-button{
    background-color: #007219;
    color: white;
}

.background-shadow{
    background: rgba(217, 217, 217, 0.7);;
}

.quantity-adjust button{
    background-color: #81080F;
    color: white;
}

/* checkout page*/
.error-message{
    color: red;
}


/*footer*/

.footer {
    background-color: #FFFCF8;
}

.newsletter-box{
    color: black;
    background-color: white;
}

.newsletter-email{
    color: black;
    background-color: white;
}

@media screen and (max-width: 390px){
    
    /*individual product page*/
    .indv-product-container{
        color: black;
        background-color: transparent;
    }
}