/*header*/

.header-bar{
    display: flex;
    align-items: center;
}

.header-buttons{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.mobile-web-logo{
    display: none;
}

.menu-icon{
    z-index: 1;
    display: none;
}

.logo1{
    align-items: center;
    z-index: 1;
}

.logo{
    align-items: center;
    z-index: 1;
}

.header-icons{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 0; 
    right: 0;
}

.bag-icon-container{
    position: relative;
}

.bag-item-count{
    position: absolute;
    top: -10px;
    right: -10px;
    justify-content: center;
    align-items: center;
}

/*banner*/
.banner-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column-left{
    flex-direction: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.column-right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dots-homepage{
    position: absolute;
}

.brands-container{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.banner2-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.column-left2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-right2{
    flex-direction: center;
    align-items: center;
    text-align: center;
}

/*products recommended*/
.product-container{
    position: relative;
}

.main-title{
    text-align: center;
}

.price-box{
    display: flex;
    justify-content: space-between;
    position: absolute;
}

.wishlist-button{
    position: absolute;
}

.products-recommended{
    display: grid;
    grid-template-columns: repeat(6, minmax(300px, 1fr));
    overflow-x: auto;
}

.products-prod-page{
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
}

.hyperlink{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/*products*/
.big-title2{
    text-align: left;
}

.results-container{
    display: flex;
    justify-content: space-between;
}

.filter-sort-buttons{
    text-align: center;
    display: flex;
    align-items: center;
}

.sort-container{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.sort-icon{
    text-align: center;
}

.filter-container{
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.filter-sort-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.filter-icon{
    text-align: center;
}

.filter-options{
    display: none;
    position: absolute;
    z-index: 1;
    text-align: left;
}

.page-nums{
    text-align: center;
}

.filter-options p{
    display: block;
}

.filter-options label{
    display: flex;
}

.filter-container:hover .filter-options {
    display: block;
    top: 375px;
}

.sort-options {
    display: none;
    position: absolute;
    z-index: 1;
    text-align: left;
}

.sort-options p{
    display: block;
}

.sort-options label{
    display: flex;
}

.sort-container:hover .sort-options {
    display: block;
    top: 375px;
}

.page-nums{
    text-align: center;
}

/*individual product page*/
.indv-product-container{
    display: flex;
    flex-wrap: wrap;
}

.product-image-carousel{
    position: relative;
    display: flex;
    align-items: center;
    flex: 1.2;
}

.indv-product-img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow{
    position: absolute;
    left: 0px;
}

.right-arrow{
    position: absolute;
    right: 0px;
}

.dots{
    position: absolute;
}

.product-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0.8;
}

.product-button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wishlist-button2{
    align-self: flex-end;
}

.label-container{
    align-self: flex-end;
}

.label{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.toggle-area{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
}

.collapsible-content{
    position: relative;
    overflow: hidden;
}

.video{
    display: block;
}

.drop-arrow{
    position: absolute;
    right: 20px;
    top: 30px;
}

/* bag*/
.bag-pop-up{
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    position: fixed;
    z-index: 10;
    overflow: auto;
    justify-content: center;
    align-items: center;
    display: none;
}

.background-shadow{
    top: 0;
    left: 0;
    position: fixed;
    z-index: 2;
    display: none;
}

.product-list-item{
    display: flex;
    align-items: center;
}

.bag-product-price{
    position: relative;
}

.subtotal-bag{
    position: absolute;
    display: flex;
    justify-content: space-between;
    bottom: 100px;
}

.bag-buttons-container{
    position: fixed;
    bottom: 20px;
    display: flex;
    justify-content: center;
}

/*checkout page*/

.delivery{
    text-align: center;
}

.payment{
    text-align: center;
}

.checkout-heading{
    display: flex;
    align-items: center;
}

.pay-button{
    width: 100%;
    height: 60px;
    border-radius: 15px;
    cursor: pointer;
}

.input-label{
    display: block;
    align-items: left;
    text-align: left;
}

.input-container{
    display: grid;
    grid-template-columns:1fr 1fr;
}

.input-bar{
    justify-content: left;
}

.select-bar{
    justify-content: left;
}

.state-postcode{
    display: flex;
    justify-content: space-between;
}

.apply-discount-code{
    display: flex;
}

/*confirmation page*/

.container{
    display: flex;
}

.purchase-confirmation{
    text-align: center;
}

.date--order-number{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-container{
    justify-content: center;
}

.product-summary-heading{
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    justify-items: right;
}

.product-summary-container {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 1fr;
    align-items: center;
}

.product-name, .product-qty, .price {
    display: flex;
    justify-content: right;
}

.final-price > div{
    display: flex;
    justify-content: space-between;
}

.price-item {
    display: flex;
    justify-content: space-between;
}

.final-price .subtotal {
    flex: 1;
}

.final-price .shipping {
    flex: 1;
    text-align: right;
}

.final-price .GST {
    justify-content: flex-end;
}

/*footer*/

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-text{
    bottom: 0px;
}

.footer-container{
    display: flex;
}

.socials{
    display: flex;
    justify-content:flex-start;
    align-items: center;
}

.newsletter-box{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*mobile version*/

@media screen and (max-width: 390px){

    /*mobile-header*/

    .dots-homepage{
        position: absolute;
        left: 260px;
    }

    .header-bar{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        position: relative;
    }

    .header-buttons{
        display: none;
        justify-content: center; 
        align-items: center; 
    }

    .menu-icon{
        z-index: 1;
        display: flex;
    }

    .logo1{
        align-items: center;
        z-index: 1;
    }

    .logo{
        align-items: center;
        z-index: 1;
    }

    .mobile-web-logo{
        display: flex;
    }

    .header-icons{
        display: flex;
        justify-content: flex-end;
        position: absolute;
        top: 0; 
        right: 0;
    }

    .bag-icon-container{
        position: relative;
    }

    .bag-item-count{
        position: absolute;
        top: -10px;
        right: -10px;
        justify-content: center;
        align-items: center;
    }

    /*mobile-banner*/

    .banner-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0px;
    }

    .column-left{
        flex-direction: left;
        align-items: left;
        justify-content: left;
        text-align: left;
    }

    .column-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .brands-container{
        display: flex;
        justify-content: space-between; 
        align-items: center;
    }

    .banner2-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .banner2-image{
        width: 210px;
        height: 183px;
    }

    .column-left2{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .column-right2{
        flex-direction: center;
        align-items: center;
        text-align: center;
    }

    .brands-container{
        overflow: auto;
    }

    /*mobile-products recommended*/

    .product-container{
        position: relative;
    }

    .main-title{
        text-align: center;
    }

    .price-box{
        display: flex;
        justify-content: space-between;
        position: absolute;
    }

    .wishlist-button{
        position: absolute;
    }

    .products-recommended{
        display: grid;
        grid-template-columns: repeat(6, minmax(180px, 1fr));
        overflow-x: auto;
    }

    .products-prod-page{
        display: grid;
        grid-template-columns: repeat(2, minmax(135px, 1fr));
    }

    .hyperlink{
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    /*mobile-products*/
    
    .big-title2{
        text-align: left;
    }

    .filter-sort-buttons{
        text-align: center;
        display: flex;
        align-items: center;
    }

    .sort-container{
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }

    .sort-icon{
        text-align: center;
    }

    .filter-container{
        align-items: center;
        display: flex;
        justify-content: flex-end;
        position: relative;
    }

    .results-container{
        display: flex;
        flex-direction: column;
    }

    .filter-sort-container{
        display: flex;
        justify-content: center;
    }

    .filter-icon{
        text-align: center;
    }

    .filter-options{
        display: none;
        position: absolute;
        z-index: 1;
        text-align: left;
    }

    .filter-options p{
        display: block;
    }

    .filter-options label{
        display: flex;
    }

    .filter-container:hover .filter-options {
        display: block;
        top: 50px;
    }

    .sort-options {
        display: none;
        position: absolute;
        z-index: 1;
        text-align: left;
    }

    .sort-options p{
        display: block;
    }

    .sort-options label{
        display: flex;
    }

    .sort-container:hover .sort-options {
        display: block;
        top: 255px;
    }

    .page-nums{
        text-align: center;
    }

    /*mobile-individual product page*/
    .indv-product-container{
        display: block;
    }

    .product-image-carousel{
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1.2;
    }

    .indv-product-img{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-arrow{
        position: absolute;
        left: 15px;
    }

    .right-arrow{
        position: absolute;
        right: 15px;
    }

    .dots{
        position: absolute;
        height: 5px;
        width: auto;
    }

    .product-details{
        display: block;
        flex-direction: column;
        justify-content: center;
        flex: 0.8;
    }

    .product-button-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .wishlist-button2{
        align-self: flex-end;
    }

    .label-container{
        align-self: flex-end;
    }

    .label{
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        overflow: hidden;
    }

    .toggle-area{
        top: 0;
        left: 0;
        position: absolute;
        z-index: 3;
    }

    .collapsible-content{
        position: relative;
        overflow: hidden;
    }

    .video{
        display: block;
    }

    .drop-arrow{
        position: absolute;
        right: 20px;
        top: 30px;
    }

    /*mobile-bag*/
    .bag-pop-up{
        top: 160px;
        left: 20;
        position: fixed;
        z-index: 10;
        overflow: hidden;
        display: none;
    }

    .background-shadow{
        top: 0;
        left: 0;
        position: fixed;
        z-index: 2;
        display: none;
    }

    .product-list-item{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .bag-product-price{
        position: relative;
    }

    .subtotal-bag{
        position: absolute;
        display: flex;
        justify-content: space-between;
        bottom: 100px;
    }

    .bag-buttons-container{
        position: fixed;
        bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /*mobile-checkout page*/

    .delivery{
        text-align: center;
    }

    .payment{
        text-align: center;
    }

    .checkout-heading{
        display: flex;
        align-items: center;
    }


    .input-label{
        display: block;
        align-items: left;
        text-align: left;
    }

    .input-container{
        display: block;
    }

    .input-bar{
        justify-content: left;
    }

    .select-bar{
        justify-content: left;
    }

    .state-postcode{
        display: flex;
        justify-content: space-between;
    }

    .exp-date{
        display: flex;
        justify-content: space-between;
    }

    .apply-discount-code{
        display: flex;
    }

    /*mobile--confirmation page*/

    .container{
        display: block;
    }

    .purchase-confirmation{
        text-align: center;
    }

    .date--order-number{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .product-summary-heading{
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        justify-items: right;
    }

    .product-summary-container {
        display: grid;
        grid-template-columns: 0.5fr 1fr 1fr 1fr;
        align-items: center;
    }

    .product-name, .product-qty, .price {
        display: flex;
        justify-content: right;
    }

    .final-price > div{
        display: flex;
        justify-content: space-between;

    }
    .price-item {
        display: flex;
        justify-content: space-between;
    }

    .final-price .subtotal {
        flex: 1;
    }

    .final-price .shipping {
        flex: 1;
        text-align: right;
    }

    .final-price .GST {
        justify-content: flex-end;
    }

    /*mobile-footer*/

    .footer{
        display: block;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }

    .footer-text{
        bottom: 0px;
    }

    .footer-container{
        display: block;
    }

    .footer-logo{
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .socials{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .newsletter-box{
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}