@font-face {
    font-family: "ReadexPro";
    src: url("../fonts/ReadexPro.ttf");
}

/*header*/

.bag-item-count{
    font-size: 14px;
    text-align: center;
}

/*banners*/

body{
    font-family: "ReadexPro", sans-serif;
}

.shop-now-button{
    font-family: "ReadexPro", sans-serif;
    font-size: 30px;
    font-weight: 400;
}

.column-left h1{
    font-size: 70px;
    font-weight: 600;
    line-height: 1;
}

.column-left p{
    font-size: 25px;
    font-weight: 250;
}

.column-right2 h1{
    font-size: 60px;
    line-height: 1;
    font-weight: 600;
}

.find-out-more-button{
    font-family: "ReadexPro", sans-serif;
    font-size: 30px;
}

/*products recommended*/
.main-title{
    font-size: 50px;
    font-weight: 600;
}

.product-container{
    text-decoration: none;
}

.product-container h2{
    font-size: 16px;
    font-weight: 300;
}

.product-container h3{
    font-size: 22px;
    font-weight: normal;
}

.product-price{
    font-size: 22px;
    font-weight: 500;
}


.small-gst-text{
    font-size: 14px;
    font-weight: 400;
}

/*products*/

.big-title2{
    font-size: 60px;
}

.hyperlink{
    font-size: 25px;
    font-weight: 250;
}


.num-results{
    font-size: 25px;
    font-weight: 250;
}

.filter-sort-buttons{
    font-size: 22px;
    font-family: "ReadexPro", sans-serif;
}

.page-nums{
    font-size: 25px;
}

.page-nums p2{
    text-decoration: underline;
}

/*individual product page*/

.product-page-title{
    font-size: 40px;
    word-break: break-word;
}

.product-page-price{
    font-size: 50px;
}


.add-to-bag-button{
    font-size: 30px;
    font-family: "ReadexPro", sans-serif;
}

.price-gst-text{
    font-size: 20px;

}

.label{
    font-size: 30px;
}

.collapsible-content{
    font-size: 20px;
    font-weight: 250;
}


/* bag */
.input-value{
    font-size: 10px;
}

.bag-title{
    font-size: 30px;
}

.bag-remove-button{
    font-size: 25px;
}

.bag-product-name{
    font-size: 21px;
}

.subtotal-bag{
    font-size: 20px;
}

.bag-continue-shopping-button{
    font-size: 20px;
    font-family: "ReadexPro", sans-serif;
}

.bag-checkout-button{
    font-size: 20px;
    font-family: "ReadexPro", sans-serif;
}

/*checkout*/
.error-message{
    font-size: 15px;
}

/*footer*/

.footer h4{
    font-size: 25px;
    font-weight: 400;
}

.newsletter-email{
    font-size: 20px;
    font-family: "ReadexPro";
    font-weight: 250;
}

/*confirmation-page*/

.bold-text{
    font-weight: 450;
}

.light-text{
    font-weight: 250;
}

.regular-text{
    font-size: 16px;
    font-weight: 400;
}

.heading--summary{
    font-size: 30px;
    font-weight: 500;
}

.subtotal, .shipping{
    font-size: 20px;
}

.product-qty, .price {
    font-weight: 250;
}


/*mobile-version*/

@media screen and (max-width: 390px){

    /*mobile--header*/

    .bag-item-count{
        font-size: 15px;
        text-align: center;
    }

    /*mobile--banner*/

    .shop-now-button{
        font-family: "ReadexPro", sans-serif;
        font-size: 10px;
        font-weight: 400;
    }
    
    .column-left h1{
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
    }
    
    .column-left p{
        font-size: 7px;
        font-weight: 250;
    }
    
    .column-right2 h1{
        font-size: 20px;
        line-height: 1;
        font-weight: 600;
    }
    
    .find-out-more-button{
        font-family: "ReadexPro", sans-serif;
        font-size: 10px;
    }    

    /*mobile--products bottom home pg*/
    .main-title{
        font-size: 20px;
        font-weight: 600;
    }

    .product-container{
        text-decoration: none;
    }

    .product-container h2{
        font-size: 9px;
        font-weight: 300;
    }

    .product-container h3{
        font-size: 13px;
        font-weight: normal;
    }

    .product-price{
        font-size: 16px;
        font-weight: 500;
    }

    /*mobile--products*/

    .big-title2{
        font-size: 25px;
    }

    .hyperlink, .num-results{
        font-size: 15px;
    }

    .filter-sort-buttons{
        font-size: 13px;
    }

    .page-nums{
        font-size: 11px;
    }

    .page-nums p2{
        text-decoration: underline;
    }

    /*mobile--individual product page*/

    .product-page-title{
        font-size: 25px;
        word-break: break-word;
    }

    .product-page-price{
        font-size: 30px;
    }

    .add-to-bag-button{
        font-size: 20px;
        font-family: "ReadexPro";
    }

    .label{
        font-size: 20px;
    }

    .collapsible-content{
        font-size: 13px;
        font-weight: 250;
    }


    /*mobile--bag*/
    .input-value{
        font-size: 10px;
    }

    .bag-title{
        font-size: 25px;
    }

    .bag-remove-button{
        font-size: 25px;
    }

    .bag-product-name{
        font-size: 11px;
    }

    .subtotal-bag{
        font-size: 25px;
    }

    .bag-continue-shopping-button{
        font-size: 15px;
        font-family: "ReadexPro", sans-serif;
    }

    .bag-checkout-button{
        font-size: 15px;
        font-family: "ReadexPro", sans-serif;
    }

    /*mobile--footer*/

    .footer h4{
        font-size: 15px;
        font-weight: 400;
    }

    .newsletter-email{
        font-size: 10px;
        font-family: "ReadexPro";
        font-weight: 250;
    }

    /*mobile--confirmation-page*/

    .bold-text{
        font-weight: 450;
    }

    .light-text{
        font-weight: 250;
    }

    .regular-text{
        font-size: 11px;
        font-weight: 400;
    }

    .heading--summary{
        font-size: 20px;
        font-weight: 500;
    }

    .subtotal, .shipping{
        font-size: 15px;
    }

    .product-qty, .price {
        font-weight: 250;
    }
}
