/*header*/


/*banner*/

.shop-now-button{
    cursor: pointer;
}

.find-out-more-button{
    cursor: pointer;
}

/*products bottom home pg*/

/*products*/

.button--filter-sort{
    cursor: pointer;
}

.page-nums{
    cursor: pointer;
}

/*individual product page*/

.add-to-bag-button{
    cursor: pointer;
}

.wishlist-button2{
    cursor: pointer;
}

/*footer*/

.sub-arrow{
    cursor: pointer;
}